# Sets

* create a new empty set
* print that set

In [1]:
x = set()
print(x)

* create a non empty set
* print that set

In [2]:
x = {'Boo!', 1,2,3,4}
print(x)

* iterate over the set and print results

In [3]:
for i in x:
    print(i)

* add one item to the set

In [4]:
x.add(5)
print(x)

{1, 2, 3, 'Boo!', 4, 5}

* add multiple items to the set

In [5]:
x.update({6,7,8})
x

{1, 2, 3, 4, 5, 6, 7, 8, 'Boo!'}

* remove an item from a set if it is present in the set

In [6]:
x.discard(5)
x

{1, 2, 3, 4, 6, 7, 8, 'Boo!'}

* find maximum and minimum values of the set

In [7]:
x.discard("Boo!")
min(x)

1

In [8]:
max(x)

8

* print the length of the set

In [9]:
len(x)

7

* create an intersection of x and y

In [10]:
x = {1,2,3,4}
y = {3,4,5,6}
x.intersection(y)

{3, 4}

In [11]:
x & y

{3, 4}

* create an union of x and y

In [12]:
x.union(y)

{1, 2, 3, 4, 5, 6}

In [13]:
x | y

{1, 2, 3, 4, 5, 6}

* create difference between x and y

In [14]:
x.difference(y)

{1, 2}

In [15]:
x - y

{1, 2}

# Collections

* for each word in sentence count occurence
* sentence : black cat jumped over white cat

In [16]:
from collections import Counter
words = "black cat jumped over white cat".split()
c = Counter(words)
c

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [17]:
c.most_common()

[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* count the occurences of words in the same sentence but now use defaultdict

In [18]:
from collections import defaultdict

dd = defaultdict(int)
for word in words:
    dd[word] += 1
dd

defaultdict(int, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [19]:
from collections import deque

dq = deque(words)
dq

deque(['black', 'cat', 'jumped', 'over', 'white', 'cat'])

* append number 10 to deque

In [20]:
dq.append(10)
dq

deque(['black', 'cat', 'jumped', 'over', 'white', 'cat', 10])

* remove element from the right end from deque

In [21]:
dq.pop()
dq

deque(['black', 'cat', 'jumped', 'over', 'white', 'cat'])

* remove element from the left end from deque

In [22]:
dq.popleft()
dq

deque(['cat', 'jumped', 'over', 'white', 'cat'])

* delete all elements from deque

In [26]:
dq.clear
dq

deque([])

* create named tuple (people) with name and surname as position names

In [ ]:
from collections import namedtuple

people = namedtuple("people", "name surname")

me = people(name='Oliver', surname="Lean")

* print name and surname

In [30]:
me.name

'Oliver'

In [31]:
me.surname

'Lean'

# Exception handling
Now, let's go to **errors and exception handling**

* transform all strings from list to upper, if the element is not string don't transform it
* use try except block without use of 'if' statement

In [34]:
def to_upper(x):
    result = []
    for item in x:
        try:
            result.append(item.upper())
        except AttributeError:
            result.append(item)
    return result

In [35]:
test_list = ['foo', 'bar', 5, set(), 'baz']
to_upper(test_list)

['FOO', 'BAR', 5, set(), 'BAZ']

### We have the function created below:

Luke Skywalker has family and friends. Help him remind them who is who. Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [44]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Han"] = "brother in law"
    _dict["R2D2"] = "droid"
    try:
        print(f"Luke, I am your {_dict[text]}")
    except KeyError:
        print(f"{text} is not in the relation with Luke")

#### Task I
Fix errors in the function above so we can run following code

In [43]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Luke, I am your brother in law
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

> #### Note
> We **cannot** use **if** statement for this

In [45]:
relation_to_luke("aaaa")

aaaa is not in the relation with Luke